<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Table Example</title>
</head>

<body>
    <form action="/api/users/" border="1px" method="post" enctype="multipart/form-data" >
        <input type="text" placeholder="enter your name " name="name">
        <input type="email" placeholder="enter your email" name="email">
        <input type="text" placeholder="enter your password" name="password">
        <input type="text" placeholder="enter your role" name="role">
        <input type="file" name="profileImage">
        <button type="submit">signin</button>
    </form>
</body>

</html>